@font-face {
	font-family: 'Pokemon GB';
	src: local('Pokemon GB'), url(./fonts/PokemonGb-RAeo.ttf) format('ttf');
}

#title {
	font-family: 'Pokemon GB';
	margin-top: 75px;
}

.container {
	text-align: center;
	margin: 0 auto;
}

img#selection {
	margin-top: 40px;
	width: 200px;
}

div#pokeballs {
	margin-top: 25px;
}

img.pokeball {
	width: 100px;
	margin: 30px;
}
